@page
@model Job_Outsourcer.Pages.Partner.Jobs.JobConfirmationModel
@{
}


<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Posao uspješno preuzet!</h1>
        Broj narudžbe posla jest: @Model.orderId <br /><br />
        <img src="~/images/Blog-Image-4-1-1024x640.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Tko radi ne boji se gladi :)<br />
        
    </div>
</div>