@page
@using Job_Outsourcer.Utility


    @if (User.IsInRole(StaticDetails.Admin))
    {
        <div class="border backgroundWhite container">
            <div class="row">
                <div class="col-6">
                    <h2 class="text-primary">Lista korisnika</h2>
                </div>
            </div>
            <br /><br />
            <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Ime i prezime</th>
                        <th>Email</th>
                        <th>Kontakt broj</th>
                        <th>Akcije</th>
                    </tr>
                </thead>
            </table>
        </div>
    }
    else
    {
        <div>
            <h1 class="text-danger"> Nedopušten pristup</h1>
        </div>
    }

    @section Scripts{
        <script src="~/js/user.js"></script>
    }
