@page
@model Job_Outsourcer.Pages.Admin.Partners.editPartnerRightsModel
@{
}


<br />
<br />
<table id="DT_load" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>ID tipa posla</th>
            <th>status</th>
            <th>Akcije</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script src="~/js/adminPartnerRights.js"></script>
}