@page
@model Job_Outsourcer.Pages.Admin.Job_Type.UpsertModel


<form method="post" asp-action="Upsert">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.JobTypeObj.JobType.Id != 0)
            {
                <input type="hidden" asp-for="JobTypeObj.JobType.Id" />
            }

            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-primary">@(Model.JobTypeObj.JobType.Id != 0 ? "Ažuriraj" : "Dodaj") Tip Posla</h2>
            </div>

            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobTypeObj.JobType.Name"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="JobTypeObj.JobType.Name" />
                        <span class="text-danger" asp-validation-for="JobTypeObj.JobType.Name"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="JobTypeObj.JobType.Category "></label>
                    </div>
                    @Html.DropDownListFor(m => m.JobTypeObj.JobType.CategoryId,
                                                 Model.JobTypeObj.CategoryList,
                                                 "- Odaberite kategoriju -",
                                                 new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="JobTypeObj.JobType.CategoryId"></span>
                </div>
               

                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">

                                <button type="submit" class="btn btn-primary form-control">@(Model.JobTypeObj.JobType.Id != 0 ? "Ažuriraj" : "Dodaj")</button>

                            </div>
                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-success form-control">Povratak na listu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</form>
